{%- from "aptly/map.jinja" import aptly with context -%}
{%- if aptly.repos|default(False) %}
repo:
{%- for repo, params in aptly.repos.items() %}
  {{ repo }}:
    {%- if params.publisher.get('component', False) %}
    component: {{ params.publisher.component }}
    {%- endif %}
    distributions:
      {%- for distribution in params.publisher.distributions %}
      - {{ distribution }}
      {%- endfor %}
    {%- if params.publisher.architectures is defined %}
    architectures:
      {%- for arch in params.publisher.architectures %}
      - {{ arch }}
      {%- endfor %}
    {%- endif %}
{%- endfor %}
{%- else %}
repo: {}
{%- endif %}

{%- if aptly.mirrors|default(False) %}
mirror:
{%- for mirror, params in aptly.mirrors.items() %}
  {{ mirror }}:
    {%- if params.publisher.get('component', False) %}
    component: {{ params.publisher.component }}
    {%- endif %}
    distributions:
      {%- for distribution in params.publisher.distributions %}
      - {{ distribution }}
      {%- endfor %}
    {%- if params.publisher.architectures is defined %}
    architectures:
      {%- for arch in params.publisher.architectures %}
      - {{ arch }}
      {%- endfor %}
    {%- endif %}
{%- endfor %}
{%- for snapshot in aptly.get('snapshots', []) %}
  {%- if snapshot is mapping %}
    {%- set key_list = snapshot.keys()|list %}
    {%- set name     = key_list[0] %}
    {%- set params   = snapshot.get(name, {}) %}
  {%- elif snapshot is list %}
    {%- set name   = snapshot[0] %}
    {%- set params = snapshot[1] %}
  {%- else %}
    {%- set name   = snapshot %}
    {%- set params = {} %}
  {%- endif %}
  {%- if params.publisher is defined %}
  {{ name }}:
    {%- if params.publisher.get('component', False) %}
    component: {{ params.publisher.component }}
    {%- endif %}
    distributions:
      {%- for distribution in params.publisher.distributions %}
      - {{ distribution }}
      {%- endfor %}
    {%- if params.publisher.architectures is defined %}
    architectures:
      {%- for arch in params.publisher.architectures %}
      - {{ arch }}
      {%- endfor %}
    {%- endif %}
  {%- endif %}
{%- endfor %}
{%- else %}
mirror: {}
{%- endif %}
