{%- from "aptly/map.jinja" import aptly with context -%}
[Unit]
Description=Aptly API server
Requires=network-online.target
After=network.target

[Service]
User=aptly
EnvironmentFile=/etc/default/aptly-api
ExecStart={{ aptly.bin }} api serve -listen=${LISTEN_HOST}:${LISTEN_PORT} -no-lock
Restart=on-failure

[Install]
WantedBy=multi-user.target
