# -*- coding: utf-8 -*-
# vim: ft=jinja

{%- set os         = salt['grains.get']('os') %}
{%- set osrelease  = salt['grains.get']('osrelease') %}
{%- set oscodename = salt['grains.get']('oscodename') %}

{## Start with defaults from defaults.yaml ##}
{% import_yaml 'aptly/defaults.yaml' as default_settings %}

{##
Setup variables using grains['os_family'] based logic, only add key:values
that differ from what is in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'aptly',
        'req_pkgs': ['python-pip', 'python3-pip', 'python-setuptools', 'python3-setuptools', 'python-gnupg', 'python3-gnupg', 'gnupg1', 'gnupg2', 'gpgv1', 'gpgv2', 'bzip2', 'cron', 'graphviz'],
        'publisher_pkg': 'aptly-publisher',
        'publisher_req_pkgs': ['python-pip', 'python3-pip', 'python-setuptools', 'python3-setuptools'],
        'bin': '/usr/bin/aptly',
        'home_dir': '/srv/aptly',
        'root_dir': '/var/lib/aptly',
        'log_dir': '/var/log/aptly',
        'user': 'aptly',
        'group': 'aptly',
        'conf_file': '/etc/aptly.conf',
        'api_conf_file': '/etc/default/aptly-api',
        'update_conf_file': '/etc/aptly/update.yaml',
        'publisher_conf_file': '/etc/aptly/publisher.yaml',
        'repo': {
            'humanname': 'aptly',
            'name': 'deb http://repo.aptly.info/ squeeze main',
            'file': '/etc/apt/sources.list.d/aptly.list',
            'key_url': 'https://www.aptly.info/pubkey.txt',
        },
    },
}
, grain="os_family"
, merge=salt['pillar.get']('aptly:lookup')) %}

{## Merge the flavor_map to the default settings ##}
{% do default_settings.aptly.update(os_family_map) %}

{## Merge in aptly:lookup pillar ##}
{% set aptly = salt['pillar.get'](
        'aptly',
        default=default_settings.aptly,
        merge=True
    )
%}
